@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="">

<h1>Nhap thong tin ca nhan</h1>
<input type="text" name="TenSinhVien" value="" />
<br />
<input type="number" name="MaSinhVien" value="" />
    <input type="submit" value="Submit" class="submit" />
</form>